footer {
  padding: 2rem 0;
  background: $dark-text;
  @include box-shadow(0 0 0 1rem $dark-text);
  p {
    color: $background-color;
    @include d(small) {
      text-align: center;
    }
  }
  a img {
    float: right;
    @include d(small) {
      float: none;
      margin: 2rem auto;
    }
  }
}
